/*
* Deliver wiki
* style.css
* 13.06.2013
*
* ===========================================
* @package		1.0
* @author 		Al.Hadi@adpeople.com / me@habibhadi.com
* @copyright	GraphicPeople Deliver Team
* @version    	1.0.0 beta
* ===========================================
*/

/* #INIT
==========================================*/
@font-face {
    font-family: 'Bebas';
    src: url('fonts/bebasneue-webfont.eot');
    src: url('fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebasneue-webfont.woff') format('woff'),
         url('fonts/bebasneue-webfont.ttf') format('truetype'),
         url('fonts/bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Droid';
    src: url('fonts/droidsans-webfont.eot');
    src: url('fonts/droidsans-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/droidsans-webfont.woff') format('woff'),
         url('fonts/droidsans-webfont.ttf') format('truetype'),
         url('fonts/droidsans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GreyscaleBasicRegular';
    src: url('fonts/Greyscale_Basic_Regular-webfont.eot');
    src: url('fonts/Greyscale_Basic_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Greyscale_Basic_Regular-webfont.woff') format('woff'),
         url('fonts/Greyscale_Basic_Regular-webfont.ttf') format('truetype'),
         url('fonts/Greyscale_Basic_Regular-webfont.svg#GreyscaleBasicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GreyscaleBasicItalic';
    src: url('fonts/Greyscale_Basic_Regular_Italic-webfont.eot');
    src: url('fonts/Greyscale_Basic_Regular_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Greyscale_Basic_Regular_Italic-webfont.woff') format('woff'),
         url('fonts/Greyscale_Basic_Regular_Italic-webfont.ttf') format('truetype'),
         url('fonts/Greyscale_Basic_Regular_Italic-webfont.svg#GreyscaleBasicItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GreyscaleBasicBold';
    src: url('fonts/Greyscale_Basic_Bold-webfont.eot');
    src: url('fonts/Greyscale_Basic_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Greyscale_Basic_Bold-webfont.woff') format('woff'),
         url('fonts/Greyscale_Basic_Bold-webfont.ttf') format('truetype'),
         url('fonts/Greyscale_Basic_Bold-webfont.svg#GreyscaleBasicBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GreyscaleBasicBoldItalic';
    src: url('fonts/Greyscale_Basic_Bold_Italic-webfont.eot');
    src: url('fonts/Greyscale_Basic_Bold_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Greyscale_Basic_Bold_Italic-webfont.woff') format('woff'),
         url('fonts/Greyscale_Basic_Bold_Italic-webfont.ttf') format('truetype'),
         url('fonts/Greyscale_Basic_Bold_Italic-webfont.svg#GreyscaleBasicBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

body { background-color:#f9f9f9; font-family: 'Droid'; }
h1,h2,h3,h4,h5 { font-family: 'Bebas'; }
.boxed {
	padding:20px 30px;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(214,214,214,1);
	-moz-box-shadow: 1px 1px 5px 0px rgba(214,214,214,1);
	box-shadow: 1px 1px 5px 0px rgba(214,214,214,1);
}
.small { font-size:11px }
.dimmed { color:#CDCDCD }
form label.error { color:#b94a48; font-size:11px }

::-moz-selection {
    background-color: #dd2020;
    color: #fff;
	text-shadow:none;
}

::selection {
    background-color: #dd2020;
    color: #fff;
	text-shadow:none;
}

.error-m { color:#9d261d }
.no-mp { margin:0; padding:0 }
h2 a { color:#777; }
h2 a:hover { text-decoration:none }

:focus {outline:none;}
::-moz-focus-inner {border:0;}

a:active { outline: none; }
a:focus, .btn:focus { -moz-outline-style: none; outline:none; text-decoration:none }

/* #LOGIN
==========================================*/
.container.login { max-width:500px; margin:0 auto; margin-top:5%; margin-bottom:5%; background-color:#FFF; }

/* #ERROR #SUCCESS
==========================================*/
.container.error, .container.success, .container.error, .container.info { text-align:center; margin-top:10%; text-shadow:0px 1px 0px #FFF }
.container.error i, .container.success i, .container.info i { font-size:72px; }
.container.error i, .container.error h1 { color:#9d261d }
.container.success i, .container.success h1 { color:#468847 }
.container.info i, .container.info h1 { color:#c09853 }
.container.error h3, .container.success h3 { color:#666666; line-height:25px }
.container.error .info-msg, .container.success .info-msg { margin:30px 0px }
.redirect-msg { margin-top:50px; }
ul.msg-list { list-style:none; }

/* #CREATE NEW
==========================================*/
.container.create { max-width:500px; margin:0 auto; margin-top:5%; margin-bottom:5%; background-color:#fff }

/* #HEADER
==========================================*/
header { min-height:71px; }

/* #HOME
==========================================*/
.home .grids i { font-size:500%; }
.home .grids { text-align:center; padding:30px 0px }
.home .grids a.main { color:#8D8D8D; }
.home .grids a.main span { color:#636363; display:block; font-family: 'Bebas'; font-size:26px; margin-top:10px }

.home .grids a.main:hover { text-decoration:none; color:#dd2020 }

/* #PROFILE
==========================================*/
.openfile { cursor:pointer }

.listrow { }
.listrow .muted { color:#B7B7B7; }
.listrow small { font-size:11px }
.pagination .btn { margin-left:5px }

/* #ARTICLE
==========================================*/
.profile-img { margin-top:10px }
.art-description {  }
.art-info { font-size:12px; }
.art-info .author { padding-top:10px }
.art-info .member_since { font-size:11px }
.additional-info { margin:10px 0px }
.art-description h1, .art-description h2, .art-description h3, .art-description h4, .art-description h5, .art-description h6 { font-family: 'Droid' }
.art-description h1.art-title { margin-bottom:20px; color:#636363; font-family: 'Bebas'; font-size:46px }
a.helpful { font-weight:bold; }
.article .well { margin:30px 0px }
.article .well a, .article .well a:hover { color:#787878; text-decoration:none }
.article .well .is_helpful { color:#08c; font-weight:bold }
.article .well .is_not_helpful { color:#A2A2A2 }
.article .well .mark_as_helpful { color:#57ad68 }
.found_this_helpful { text-align:right; color:#636363; font-size:12px; margin-top:-20px }
.found_this_helpful a { color:#0088CC; }
.found_this_helpful i { margin-left:3px }

/* #COMMENT
==========================================*/
.comments { margin-top:10px; }
.comments .user_comments { background:url(../images/site/comment-bg.gif) repeat-y 11.7% 0px }
.comments .row { padding-bottom:30px; }
.comments .pinfo { text-align:right; font-size:11px }
.comments .comment {
	background:#FFF;
	border: 1px solid #ececec;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
}
.comments .info {  
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
	background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
	padding:10px 15px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom:1px solid #ececec;
	position:relative
}
.comments .comment .author_name { display:inline-block; margin-right:5px }
.comments .comment .author_name a { color:#8D8D8D }
.comments .commit { padding:10px 15px }
.comments .comment .left_arrow { 
	display:inline-block;
	width:15px;
	height:20px;
	background:url(../images/site/comment-arrow.png) no-repeat 0px 0px;
	position:absolute;
	top:11px;
	left:-15px;
}

.moderation_menu a { display:inline-block; margin-left:10px; color:#8E8E8E; cursor:pointer; text-shadow:0px 1px 0px #fff; font-size:12px }
.moderation_menu a:hover { text-decoration:none; color:#3A3A3A }
.moderation_menu [class^="icon-"]:before, .moderation_menu [class*=" icon-"]:before { cursor:pointer }

.action_buttons { margin-left:10px }
.action_buttons a { display:inline-block; margin-right:5px; color:#B7B7B7 }
.action_buttons a:hover { text-decoration:none }
.action_buttons [class^="icon-"]:before, .action_buttons [class*=" icon-"]:before { cursor:pointer }
.up_vote.added { color:#57AD68 }
.down_vote.added { color:#DD2020 }

.edit_mode .action_buttons { display:none }
.edit_mode .vlist { display:none }

.comment { position:relative }
.comment .loading_state { position:absolute; left:-26px; top:13px; z-index:10; }

#comment_form .loading_state { margin-right:10px }
.btn .icon-spin[class^="icon-"].hide, .nav .icon-spin[class^="icon-"].hide, .btn .icon-spin[class*=" icon-"].hide, .nav .icon-spin[class*=" icon-"].hide { display:none }

.error_state { color:#DD2020 }
#comment_form .error_state { margin-left:10px; font-weight:bold }

.vlist { list-style:none; font-size:12px; margin:0px; padding:0px; display:inline-block; color:#ddd }
.vlist li { display:inline; margin-right:3px }
.vlist a { color:#B7B7B7 }

/* #Media Queries
================================================== */
 
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
	.comments .user_comments { background:none }	
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	
}